<div class="card card-custom gutter-b mt-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Rol</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" (click)="create(null)" class="btn btn-primary">Nuevo Rol</button>
      </div>
    </div>
    <div class="card-body">
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4"  [formGroup]="searchGroup">
                    <input type="text" class="custom-input form-control" name="searchText" placeholder="Buscar" value=""
                    formControlName="searchTerm" (keyup)="search()" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
                </div>
            </div>
        </div>

        <div class="table-responsive table-aspire angular-bootstrap-table mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>
                <ng-container matColumnDef="Nro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                    <mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.nombre}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.descripcion}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">                              

                    <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(lesson)">
                        <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-primary">
                        </span>
                    </a>

                    <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="delete(lesson)">
                        <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-danger">
                        </span>
                    </a>

                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
            
        </div>

        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <mat-paginator #matPaginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
        </div> 

    </div>
  </div>