<div class="card card-custom gutter-b mt-5">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Usuarios</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary" (click)="create()">Nuevo Usuario</button>
		</div>
	</div>
	<div class="card-body">
		<!-- begin: Filtration form -->
		<div class="form form-label-right">
			<div class="form-group row">
				<div class="col-lg-4" [formGroup]="searchGroup">
					<input type="text" class="custom-input form-control" name="searchText" placeholder="Buscar" value="" (keyup)="search()"
						formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
				</div>
			</div>
		</div>

		<div class="table-responsive table-aspire angular-bootstrap-table mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>

					<ng-container matColumnDef="Nro">
							<mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
							<mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="email">
							<mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.email.trim() || '-'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="nombres">
							<mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{(lesson.nombres) || '-'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="apellidos">
							<mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDOS</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.apellidos}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="documentoIdentidad">
						<mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DOC.IDENTIDAD</mat-header-cell>
						<mat-cell *matCellDef="let lesson">{{lesson.documentoIdentidad}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="tipoDocumentoIdentidad">
							<mat-header-cell *matHeaderCellDef mat-sort-header>DOC.IDENTIDAD</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.tipoDocumentoIdentidad}}</mat-cell>
					</ng-container>
					

					<ng-container matColumnDef="isActive">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">
									
									<span class="switch">
											<label>
													<input type="checkbox" name="Activo" [(ngModel)]="lesson.isActive" (click)="enabledUsuario(lesson)">
													<span></span>
											</label>
									</span>
							</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
							<mat-cell *matCellDef="let lesson">

									<a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(lesson)">
										<span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
										class="svg-icon svg-icon-md svg-icon-primary">
										</span>
									</a>
									
									<a title="Restablecer contraseña" class="btn btn-icon btn-light btn-hover-warning btn-sm mr-3"
											(click)="reset(lesson)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Update.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-warning">
											</span>
									</a>

									<a title="Asignar Rol" class="btn btn-icon btn-light btn-hover-info btn-sm mr-3"
											(click)="asignar(lesson)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Settings-2.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-info">
											</span>
									</a>


									<!-- <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
											(click)="delete(lesson.idUsuario)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-danger">
											</span>
									</a> -->
							</mat-cell>
					</ng-container>

					<ng-container matColumnDef="loading">
							<mat-footer-cell *matFooterCellDef colspan="9">
									Loading data...
							</mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="noData">
							<mat-footer-cell *matFooterCellDef colspan="9">
									No se encontraron registros.
							</mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
					<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
					</mat-footer-row>
					<mat-footer-row *matFooterRowDef="['noData']"
							[ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
			</mat-table>
	</div>

	<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
			<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>      
	</div>
</div>