<div class="card card-custom gutter-b mt-5">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Usuarios</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary" (click)="create(null)">Nuevo Usuario</button>
		</div>
	</div>
	<div class="card-body">
		<!-- begin: Filtration form -->
		<div class="form form-label-right">
			<div class="form-group row">
				<div class="col-lg-8">
					<div class="row" [formGroup]="filterGroup">
						<div class="col-lg-4">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Tipo" (change)="getUsuarios( $event,this.filterGroup.controls.Estado.value)">
									<ng-option *ngFor="let item of array_tipo" [value]="item.value">
											{{item.descripcion}}
									</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Tipo</small>
						</div>

						<div class="col-lg-4">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Estado" (change)="getUsuarios( this.filterGroup.controls.Tipo.value,$event)">
									<ng-option *ngFor="let item of array_estado" [value]="item.value">
											{{item.descripcion}}
									</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
						</div>
					</div>
				</div>
				<div class="col-lg-4" [formGroup]="searchGroup">
					<input type="text" class="custom-input form-control" name="searchText" placeholder="Buscar" value="" (keyup)="search()"
						formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
				</div>
			</div>
		</div>

		<div class="table-responsive table-aspire angular-bootstrap-table mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>

					<ng-container matColumnDef="Nro">
							<mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
							<mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Usuario">
							<mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.usuario.trim() || '-'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="DocIdentidad">
							<mat-header-cell *matHeaderCellDef mat-sort-header>DOC.IDENTIDAD</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{(lesson.documentoIdentidad) || '-'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Login">
							<mat-header-cell *matHeaderCellDef mat-sort-header>LOGIN</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.login}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Estado">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">
									
									<span class="switch">
											<label>
													<input type="checkbox" name="Activo" [(ngModel)]="lesson.activo" (click)="enabledUsuario(lesson)">
													<span></span>
											</label>
									</span>
							</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
							<mat-cell *matCellDef="let lesson">                              
									<a title="Asignar empresas y roles" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3"
										(click)="asignar(lesson.idUsuario)">
										<span [inlineSVG]="'./assets/media/svg/icons/General/Settings-2.svg'" cacheSVG="true"
										class="svg-icon svg-icon-md svg-icon-primary">
										</span> 
									</a>
									<a title="Restablecer contraseña" class="btn btn-icon btn-light btn-hover-warning btn-sm mr-3"
											(click)="reset(lesson)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Update.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-warning">
											</span>
									</a>

									<a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
											(click)="delete(lesson.idUsuario)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-danger">
											</span>
									</a>
							</mat-cell>
					</ng-container>

					<ng-container matColumnDef="loading">
							<mat-footer-cell *matFooterCellDef colspan="9">
									Loading data...
							</mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="noData">
							<mat-footer-cell *matFooterCellDef colspan="9">
									No se encontraron registros.
							</mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
					<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
					</mat-footer-row>
					<mat-footer-row *matFooterRowDef="['noData']"
							[ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
			</mat-table>
	</div>

	<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
			<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>      
	</div>
</div>