<ng-container>
    <div id="step_contentPassword" class="card card-custom"  [formGroup]="formPassword">
      
      <!--begin::Header-->
      <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
          <h3 class="card-label font-weight-bolder">Cambiar Contraseña</h3>
          <span class="text-muted font-weight-bold font-size-sm mt-1">Cambiar la contraseña de su cuenta</span>
        </div>
        <div class="card-toolbar">
          <button type="submit" [disabled]="formPassword.invalid" class="btn btn-success mr-2" (click) ="save()">Guardar Cambios</button>
          
        </div>
      </div>
      <!--end::Header-->
      <!--begin::Form-->
      <div class="form">
        <div class="card-body">
          
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Contraseña Actual</label>
            <div class="col-lg-9 col-xl-6">
              <input type="password"
                class="custom-input form-control form-control-lg form-control-solid mb-2"
                placeholder="Contraseña Actual"
                autocomplete="off"
                formControlName="PasswordActual"
                [class.is-invalid]="isControlInvalid('PasswordActual')"
                [class.is-valid]="isControlValid('PasswordActual')" 
              />
              <div class="valid-feedback" *ngIf="isControlValid('PasswordActual')">La contraseña actual se ingresó correctamente</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'PasswordActual')">Se requiere la contraseña actual</div>
              <!-- <a class="text-sm font-weight-bold cursor-pointer">Forgot password ?</a> -->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Nueva Contraseña</label>
            <div class="col-lg-9 col-xl-6">
              <input type="password"
                class="custom-input form-control form-control-lg form-control-solid"
                placeholder="Nueva Contraseña"
                autocomplete="off"
                formControlName="password"
                [class.is-invalid]="isControlInvalid('password')"
                [class.is-valid]="isControlValid('password')" 
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Verififcar Contraseña</label>
            <div class="col-lg-9 col-xl-6">
              <input type="password"
                class="custom-input form-control form-control-lg form-control-solid"
                placeholder="Verificar Contraseña"
                autocomplete="off"
                formControlName="cPassword"
                [class.is-invalid]="isControlInvalid('cPassword')"
                [class.is-valid]="isControlValid('cPassword')" 
              />
              <div class="valid-feedback" *ngIf="isControlValid('cPassword')">La confirmación de la contraseña se ingresó correctamente </div>
              <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">'Nueva Contraseña' y 'Verificar contraseña' no coinciden</div> 
            </div>
          </div>
        </div>
      </div>
      <!--end::Form-->
    </div>
  </ng-container>

