@import "../../../assets/sass/pages/login/login-1.scss";

:host {
  height: 100%;
}
.container-img{
  background: url('https://images.pexels.com/photos/7691661/pexels-photo-7691661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 
  no-repeat center top; 
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
}