<div class="row mt-5">
    <div class="col-12 col-lg-4 mb-2">
        <app-perfil-opciones></app-perfil-opciones>
    </div>

    <div class="col-12 col-lg-8 mb-2">
        <router-outlet></router-outlet>
    </div>

</div>
<div id="recorridoTutorial" style="position: fixed;bottom: 100px;" >
    <img src="./assets/media/aspire-targox/pulpo.png" alt="" width="80px" height="80px" style="position: absolute;left: -80px;bottom: -10px;">
    <div class="p-3 text-white text-center"> 
        <span> ¿Deseas hacer un recorrido? </span>  <br>
        <span class="cursor-pointer font-weight-bold" style="color: #5BC0BE;" (click)="tutorialStart()"> EMPEZAR </span>          
    </div>
</div> 
