<div class="card card-custom gutter-b mt-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Permisos</h3>
      </div>
      <!-- <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click)="addTrabajador()">Nueva Trabajador</button>
      </div> -->
    </div>
    <div class="card-body">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="row" [formGroup]="filterGroup">
              <div class="col-lg-5">
                <label>Rol</label>
                <ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Rol"
                    [searchable]="true" placeholder="Rol" (change)="changeRol($event)">
                    <ng-option *ngFor="let item of array_roles" [value]="item.CodRol">
                        {{item.DescRol}}
                    </ng-option>
                </ng-select>
                <small class="form-text text-muted"><b>Filtrar</b> por Rol</small>
              </div>
  
            </div>
          </div>         
        </div>

   


        <div class="row">
            <div *ngIf="dataSource != null && dataSource.data.length > 0" class="col-md-12">
                <!-- <mat-card> -->
                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node [matTreeNodePaddingIndent]="15" style="display:flex; flex-direction:column;" *matTreeNodeDef="let node" matTreeNodePadding>
                      <div style="display:flex; align-items: center; width: 100% !important; margin-bottom: 5px; margin-top: 5px;">
                          <!-- <button mat-icon-button disabled></button> -->
                          <div style="flex:1">{{node.data.Nombre + '(' + (node.data.Tipo == '2' ? 'Opción' : 'Vista') + ')'}}</div>
                      </div>
                      <div *ngIf="node.data.Tipo == '3'" style="display:flex; align-items: center; width: 100% !important;">
                          <!-- <button mat-icon-button disabled></button> -->
                          <div style="flex:1">
                            <div class="row" style="display:flex; align-items: center; width: 100% !important; flex-wrap: wrap;" *ngIf="node.data.Tipo == '3'">
                                <div class="col-md-4" *ngFor="let item of node.data.SubNavegacion" >
           

                                <div style="margin-bottom: 5px; margin-top: 10px;">
                                    <label class="checkbox checkbox-lg checkbox-inline" style="font-size: 12px;">
                                        <input type="checkbox" (click)="changeChecked($event, item)" [(ngModel)]="item.Checked" />
                                        <span></span>&nbsp;&nbsp;{{item.Nombre}}
                                      </label>
                                </div>

                                <!-- <span class="checkbox">
                                    <label class="checkbox checkbox-lg checkbox-inline">
                                        <input type="checkbox" [(ngModel)]="item.Checked" (click)="changeChecked($event, item)">
                                        <span></span> {{item.Nombre}}
                                    </label>
                                </span> -->
                                

                                </div>
                            </div>
                          </div>
                        </div>
                    </mat-tree-node>
                    <mat-tree-node [matTreeNodePaddingIndent]="15" style="display:flex; flex-direction:column;" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                      <div style="display:flex; align-items: center; width: 100% !important;">
                        <button style=" background: none; border: 0;
                        color: inherit;
                        font: inherit;
                        line-height: normal;
                        overflow: visible;
                        padding: 0;
                        -webkit-user-select: none; 
                         -webkit-appearance: button; 
                           -moz-user-select: none;
                            -ms-user-select: none;"
                                mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.data.Nombre">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                        <div matTreeNodeToggle style="flex:1" style="cursor: pointer;">
                            {{node.data.Nombre + ' (' + (node.data.Tipo === '5' ? 'Módulo' :(node.data.Tipo === '6' ? 'Menú' : (node.data.Tipo === '2' ? 'Opción' : 'Vista')) ) + ')'}}
                        </div>
                      </div>
                    </mat-tree-node>
                  </mat-tree>
                <!-- </mat-card> -->
            </div>
            <div *ngIf="dataSource != null && dataSource.data.length == 0" class="col-md-12">
              <span *ngIf="!searchBan">No hay información</span>
              <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            </div>
          </div>

          


          



      </div>
  
       
    </div>
  </div>