<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo">
    <img alt="Logo" [attr.src]="headerLogo" />
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">

      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text text-white h6">APLICACIONES</h4>
        <!-- <i class="menu-icon flaticon-more-v2"></i> -->
      </li>
      
      <li *ngFor="let item of dataUrls" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open">
        <a class="menu-link menu-toggle" routerLinkActive="active" [href]="item.url">        
          <i class="justify-content-center svg-icon menu-icon {{item?.icono}}" style="margin-left: -6px;"></i>
          <span class="menu-text">{{item.nombre }}</span>
          <i class="menu-arrow"></i>
        </a>
        <!-- <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">     
            <li *ngFor="let opc of item.SubNavegacion" class="menu-item" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
              <a *ngIf="opc.SubNavegacion && opc.SubNavegacion.length > 0 && opc.VisibleNavegacion" class="menu-link" routerLink="{{opc.Url}}" routerLinkActive="active">
                <span class="menu-text">{{opc.Nombre }} </span>
              </a>
            </li>
  
          </ul>
        </div> -->
        </li>
      
        
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
