<div class="modal-content modal-aspire">
	<div class="modal-header">
		<div class="modal-title h4" id="example-modal-sizes-title-lg">
			<ng-container>
				<ng-container *ngIf="idUsuario === 0">Nuevo</ng-container>
			</ng-container>
		</div>
	</div>
	<div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
		<ng-container *ngIf="isLoading$ | async">
			<div class="overlay-layer bg-transparent">
				<div class="spinner spinner-lg spinner-success"></div>
			</div>
		</ng-container>

		<ng-container>
			<form action="#" class="form form-label-right" [formGroup]="formGroup">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-12">
							<label>Rol</label>
							<ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Rol" name="Rol"
								[searchable]="true" placeholder="Rol" [class.is-invalid]="isControlInvalid('Rol')">
								<ng-option *ngFor="let item of array_roles" [value]="item?.id">
									{{item?.nombre}}
								</ng-option>
							</ng-select>
							<div class="feedback" *ngIf="!formGroup.controls['Rol'].value">Por favor, seleccionar un
								<b>Rol</b>
							</div>
							<div class="invalid-feedback" *ngIf="controlHasError('required', 'Rol')"> Rol es
								obligatorio. </div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col-lg-12">
							<label>Persona</label>
							<ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Persona" name="Persona"
								[searchable]="true" placeholder="Persona" [class.is-invalid]="isControlInvalid('Persona')">
								<ng-option *ngFor="let item of array_personas" [value]="item?.id">
									{{item?.nombres + ' ' + item?.apellidos}}
								</ng-option>
							</ng-select>
							<div class="feedback" *ngIf="!formGroup.controls['Persona'].value">Por favor, seleccionar un
								<b>Persona</b>
							</div>
							<div class="invalid-feedback" *ngIf="controlHasError('required', 'Persona')"> Persona es
								obligatorio. </div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col-lg-12">
							<label>Email</label>
							<input type="text" class="custom-input form-control form-control-lg form-control-solid" name="Email"
								placeholder="Email" autocomplete="off" [class.is-invalid]="isControlInvalid('Email')"
								[class.is-valid]="isControlValid('Email')" formControlName="Email" />
							<div class="feedback" *ngIf="!formGroup.controls['Email'].value">Por favor, seleccionar un <b>Email</b>
							</div>
							<div class="invalid-feedback" *ngIf="controlHasError('required', 'Email')"> Email es obligatorio. </div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<label>Password</label>
							<input type="text" class="custom-input form-control form-control-lg form-control-solid" name="Password"
								placeholder="Password" autocomplete="off" [class.is-invalid]="isControlInvalid('Password')"
								[class.is-valid]="isControlValid('Password')" formControlName="Password" />
							<div class="feedback" *ngIf="!formGroup.controls['Password'].value">Por favor, seleccionar un
								<b>Password</b>
							</div>
							<div class="invalid-feedback" *ngIf="controlHasError('required', 'Password')"> Password es obligatorio.
							</div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col-lg-12">
							<label class="form-label">Activo</label>
							<span class="switch">
								<label>
									<input type="checkbox" name="Activo" formControlName="Activo">
									<span></span>
								</label>
							</span>
						</div>
					</div>
				</div>
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>

		<ng-container>
			<button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">
				Guardar
			</button>
		</ng-container>
	</div>
</div>